* {
    box-sizing: border-box;
}


/*  body */
body{
    background-color:#E5E5E5;
    height: 1051px;
   
}
/* header */
header{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 92px;
    background-color: rgba(207, 43, 43, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h1{
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 21px;
}
header p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left:21px;
}

/* main */
section{
    position: relative;
    top:92px;
    margin-top: 31px;
    width: 100vw;
    height:258px;
    overflow-x:scroll;
    overflow-y:hidden;
}
h2{
    width: 100vw;
    height:25px;
    margin-left: 19px;
    font-family: Righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}
.caixa_pratos{
    position: relative;
    width: 565px;
    height: 265px;
    margin-left: 19px;
    overflow: hidden;
}
.prato{
    position:relative;
    display: inline-block;
    width: 172px;
    height:216px;
    margin-top: 17px;
    margin-right: 12px;
    margin-bottom: -20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.prato img{
    position: relative;
    display: flex;
    position: relative;
    margin-top:18px;
    margin-left: 14px;
    width: 144px;
    height: 87px;
}
.prato p {
    display: flex;
    position: relative;
    width: 139px;
    height: 23px;
    margin-top: 8px;
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.prato span{
    display: flex;
    position: relative;
    width: 147px;
    height: 39px;
    margin-top: 4px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}
.caixa_bebidas{
    width: 565px;
    height: 265px;
    margin-left: 19px;
    overflow-x: scroll;
    overflow: hidden;
}
.bebida{
    display: inline-block;
    width: 172px;
    height:202px;
    margin-top: 17px;
    margin-right: 12px;
    margin-bottom: -20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.bebida img{
    margin-top:18px;
    margin-left: 15px;
}
.bebida p{
    width: 139px;
    height: 23px;
    margin-top: 8px;
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.bebida span{
    width: 147px;
    height: 39px;
    margin-top: 4px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}
.caixa_sobremesas{
    width: 565px;
    height: 265px;
    margin-left: 19px;
    overflow-x: scroll;
    overflow: hidden;
}
.sobremesa{
    display: inline-block;
    width: 172px;
    height:197px;
    margin-top: 17px;
    margin-right: 12px;
    margin-bottom: -20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.sobremesa img{
    margin-top:19px;
    margin-left: 15px;
}
.sobremesa p{
    width: 139px;
    height: 23px;
    margin-top: 8px;
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.sobremesa span{
    width: 147px;
    height: 39px;
    margin-top: 4px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

/* footer */
footer{
    position: fixed;
    width: 100vw;
    height: 92px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botaofooter {
    position: absolute;
    width: 88vw;
    height: 61px;
    background: #CBCBCB;
    border-radius: 50px;
    border: 0px;
}
.botaofooter p{ 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}
